.container {
  padding: 10px;
  background: #f5f6fa;
  min-height: 80vh;
  color: #000;
}

.header h1 {
  font-size: 24px;
  font-weight: 600;
}

.header p {
  color: #000000;
  margin-top: 5px;
}

.stepper {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.step,
.stepActive {
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 13px;
}

.step {
  background: #eee;
  color: #777;
}

.stepActive {
  background: #ff7a00;
  color: #fff;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.infoBox {
  background: #fff4ec;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.infoBox h3 {
  font-size: 16px;
}

.infoBox p {
  font-size: 14px;
  color: #666;
}

.rowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 20px;
}

.grid2 input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.table {
  margin-top: 20px;
}

.tableHeader,
.tableRow {
  display: grid;
  grid-template-columns: 1fr 80px 1fr 1fr;
  gap: 50px;
  align-items: center;
  padding: 10px 0;
}

.tableHeader {
  font-weight: 600;
  border-bottom: 1px solid #eee;
}

.tableRow input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.switch,
.switchSmall {
  background: #ff7a00;
  border-radius: 20px;
  width: 45px;
  height: 24px;
}

.switchSmall {
  width: 35px;
  height: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 25px;
}

.btnBack {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  background: #eee;
}

.activeDay {
  display: flex;
  justify-content: center;
}

.dateClosed, .dateOpen {
  display: flex;
  align-items: center;
  gap: 1rem;
}
